.ad-text {
  color: purple;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 7em;
  position: absolute;
  width: 100%;
  text-align: center;
}

.ad-price {
  color: purple;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 7em;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.slick-initialized .slick-slide {
  position: relative;
  height: 96vh;
}

img {
  height: 50vh;
  padding-top: 25vh;
  width: auto;
  margin: 0 auto; /* it centers any block level element */
}

#canvas {
  display: none;
}
