/* .information data-data-url="#{locations_data_path(location_id: @location.id)}"*/
/*   .information__group*/
/*     h2 Arrival time*/
/*     .information__group__card*/
/*       .information__group__card__image*/
/*         = image_tag 'tram.png'*/
/*       .information__group__card__info*/
/*         h2 Airport*/
/*         p 4 min*/
/*   .information__group.information__group--right*/
/*     h2 Forecast*/
/*     .information__group__card*/
/*       .information__group__card__image*/
/*         = image_tag 'sacttered_clouds.png'*/
/*       .information__group__card__info*/
/*         h2 Airport*/
/*         p 4 min*/

.campaigns data-data-url="#{locations_data_path(location_id: @location.id)}"
  - (1..3).each do |_i|
    iframe.campaign
